/* */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lucida Grande";
}

.main {
  height: 100%;
}

a {
  text-decoration: none;
}

.top-wrapper {
  left: 0;
  padding-top: 180px;
  padding-bottom: 100px;
  color: white;
  background-color: grey;
  background-image: url(D:coding/business-code-coding-computer-270360.jpg);
  background-size: cover;
  text-align: center;
}

@keyframes changecolor {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: red;
}

.container {
  left: 0;
  width: 1170;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.top-wrapper p {
  margin-bottom: 3px;
  opacity: 0.7;
}

mark {
  left: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: red;
  opacity: 0.7;
  animation: changecolor 5s infinite;
}

/*  */
.contents-hendi {
  left: 0;
  text-align: center;
  padding: 100px;
  font-size: 20px;
  background-color: orange;
  margin-bottom: 20px;
}

.img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  max-width: 450px;
  width: 100%;
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.img-tim {
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  max-width: 250px;
  width: 100%;
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/*  */

.contents {
  display: block;
  left: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  margin-top: 50px;
  position: relative;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 50px;
}

.contents-item p {
  text-align: center;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

/*  */
.containerr {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  height: 65px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.header-right {
  float: left;
}
.logo {
  width: 100px;
  margin-bottom: 10px;
  margin-top: 15px;
  position: absolute;
  line-height: 65px;
}

.header-left {
  cursor: pointer;
  font-size: 20px;
  display: block;
  line-height: 65px;
}
.header-left a {
  font-family: "Lucida Grande";
  float: right;
  text-decoration: none;
  margin: 0 10px;
  padding: 0 20px;
  list-style: none;
  color: white;
}
.header-left a:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
.login {
  background-color: rgba(255, 0, 0, 0.5);
}
.login:active {
  background-color: rgba(0, 0, 0, 0.8);
}
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}
.menu-icon {
  float: right;
  border: none;
  display: none;
  cursor: pointer;
  font-size: 25px;
  margin: 20px 0;
  color: white;
  background-color: black;
}
.show {
  display: block;
  margin-right: 65px;
}

.dropdown-content {
  position: absolute;
  display: none;
  margin-top: 65px;
  margin-right: 10px;
  background-color: black;
  z-index: 1;
  float: left;
  cursor: pointer;
  padding-right: 150px;
  margin-left: 410px;
}
.dropdown-content a {
  color: white;
  padding: 20px 20px;
  display: block;
  text-decoration: none;
}

/*  */

/*footer style*/

.page-footer {
  background: #222;
  height: 300px;
  display: inline-block;
  width: 100%;
  /*position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;*/
}
.footer-top {
  width: 30%;
  height: 100%;
  color: rgb(236, 229, 229);
  float: left;
  padding-left: 15px;
  padding-top: 15px;
}
.footer-top img {
  padding-top: 0px;
  width: 25%;
}
.footer-top p {
  letter-spacing: 0.5px;
  text-align: justify;
  margin-top: 10px;
}
.footer-middle {
  width: 30%;
  height: 100%;
  color: rgb(236, 229, 229);
  float: left;
  padding-left: 40px;
  padding-top: 15px;
}
.footer-middle h2 {
  padding-left: 40px;
  margin-bottom: 0;
  padding-bottom: 18px;
}
.footer-middle ul li {
  list-style: none;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-top: 10px;
}
.footer-middle ul li a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
}
.footer-middle .btn {
  padding-left: 40px;
}
.footer-bottom {
  width: 30%;
  height: 100%;
  color: rgb(236, 229, 229);
  float: left;
  padding-top: 15px;
}
.footer-bottom h2 {
  padding-left: 0;
  margin-bottom: 0;
  color: white;
}
form {
  margin-top: 20px;
  transition: all 1s ease-in-out;
}
.form-control {
  width: 450px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: rgb(59, 210, 248);
  font-size: 18px;
  margin-bottom: 16px;
  overflow: hidden;
}
form .submit {
  border-color: transparent;
  color: #fff;
  padding-top: 2px;
  text-align: center;
  display: inline;
  background-color: #757a77;
  width: 40%;
  height: 20px;
  font-size: 15px;
  border-radius: 5px;
}
form .submit:hover {
  background-color: #9c9a9a;
  cursor: pointer;
}
form .submit:active {
  background-color: #888686;
}
.footer-inside-ground {
  display: inline-block;
  width: 100%;
  border-top: 1px solid white;
  text-align: center;
  color: white;
  padding-top: 15px;
  margin-top: 10px;
}
